.image-container {
	display: flex;
	flex: 3;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

	.subtitle {
		font-family: 'Montserrat', sans-serif;
		flex-wrap: wrap;
		width: 80%;
		text-align: center;
		font-size: 2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	.contact-list {
		width: 200px;
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		justify-content: space-evenly;

		.link-icons {
			color: #fff;
			font-size: 2rem;

			&:hover {
				color: #fca311;
			}
		}
		p {
			margin: 0;
			color: #fff;
		}
	}
}

.launch-image {
	display: flex;
	width: 72%;
	height: 100%;
	position: absolute;
	z-index: -1;
	filter: blur(2px);
	border-left: 2px solid black;
	box-shadow: 5px 4px 4px rgba(255, 255, 255, 0.1);
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

// Media Queries
@media (max-width: 1100px) {
	.subtitle {
		width: auto;
	}
}

@media (max-width: 980px) {
	.subtitle {
		margin-right: 10px;
	}
}

@media (max-width: 892px) {
	.launch-image {
		width: 100%;
	}
}

@media (max-width: 570px) {
	.subtitle {
		width: 300px;
		font-size: 50px;
	}
}
