.launch-image-container {
	display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
  flex-wrap: wrap;
	width: 900px;
	height: 600px;

	.subtitle {
		font-family: 'Montserrat', sans-serif;
		flex-wrap: wrap;
		width: 600px;
		text-align: center;
		right: 150px;
		top: 200px;
		font-size: 2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
}

.launch-image {
	display: flex;
	justify-content: center;
	width: 900px;
	height: 600px;
	background-image: url('../../../assets/images/space-launch.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
	right: 0;
	z-index: -1;
  filter: blur(2px);
  border-left: 2px solid black;
  box-shadow: 5px 4px 4px rgba(255, 255, 255, 0.1);
}

.link-icons {
  color: #fff;
  font-size: 2rem;

	&:hover {
		color: #fca311;
	}
}