@import '../../App.scss';

.navbar--container {
	background-color: #0f1113;
	max-width: 100%;
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 3;
	box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
}

.home-logo {
	margin-left: 100px;

	img {
		width: 100px;
		transition: 0.5s ease-in;

		&:hover {
			width: 110px;
		}
	}
}

nav {
	max-width: 60%;
	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
}

.link {
	text-decoration: none;
	color: #e5e5e5;
	padding-bottom: 5px;
	font-size: 1.125rem;
	font-weight: 500;
	transition: border-bottom 1 ease-in;

	&:hover {
		box-sizing: border-box;
		border-bottom: 1px solid #e5e5e5;
	}

	&.active {
		color: #fca311;
		border-bottom: 1px solid #fca311;
	}
}


// Media Queries
@media (max-width: 640px) {
	.home-logo {
			margin-left: 20px;
		}
	}

	nav {
		width: 100%;
	}

@media (max-width: 570px) {
	.navbar--container {
		flex-direction: column;

		nav {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.link {
			&:hover {
				box-sizing: border-box;
				border-bottom: none;
			}
			&.active {
				border-bottom: none;
			}
		}
	}
}
