.bg-image-container {
  width: 500px;
  float: left;
}

.bg-image {
  width: auto;
  margin-left: 400px;
  filter: blur(0.5px);
  opacity: 0.1;
}

.animate__animated.animate__fadeIn {
  animation-duration: 5s;
}
